<h1>TakePages#home</h1>


<input type="checkbox" name="product[category_ids][]" id="product_category_ids_1" value="1">
<label for="product_category_ids_1">組織1</label>
<input type="checkbox" name="product[category_ids][]" id="product_category_ids_2" value="2">
<label for="product_category_ids_2">組織2</label>
<input type="checkbox" name="product[category_ids][]" id="product_category_ids_3" value="3">
<label for="product_category_ids_3">組織3</label>

<p>
<input type="button" value="論理削除" onclick="history.back()">
</p>